@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>A testing ground for new development technology.</p>
<ul>
    <li>Identity Server</li>
    <li>ASP.NET MVC Core</li>
</ul>

