@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Tucson AZ<br />
</address>

<address>
    <strong>Website:</strong> <a href="https://gabrewer.com">gabrewer.com</a><br />
    <strong>Email:</strong> <a href="mailto:greg@gabrewer.com">greg@gabrewer.com</a><br />
</address>
