@using gabMileage.AspNetCoreMVC.Features.Mileage.Models
@model MileageViewModel

<h2>GAB Mileage</h2>

<form asp-controller="Mileage" asp-action="RecordMileage" method="post" class="form-horizontal">
    <fieldset>
        <div class="form-group">
            <label asp-for="FilledDate" class="col-md-2"></label>
            <div class="col-md-10">
                <input asp-for="FilledDate" type="date" class="form-control" />
                <span asp-validation-for="FilledDate"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="FilledTime" class="col-md-2"></label>
            <div class="col-md-10">
                <input asp-for="FilledTime" type="time" class="form-control" />
                <span asp-validation-for="FilledTime"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="StartingMileage" class="col-md-2"></label>
            <div class="col-md-10">
                <input asp-for="StartingMileage" class="form-control" />
                <span asp-validation-for="StartingMileage"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="EndingMileage" class="col-md-2"></label>
            <div class="col-md-10">
                <input asp-for="EndingMileage" class="form-control" />
                <span asp-validation-for="EndingMileage"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Gallons" class="col-md-2"></label>
            <div class="col-md-10">
                <input asp-for="Gallons" class="form-control" />
                <span asp-validation-for="Gallons"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Cost" class="col-md-2"></label>
            <div class="col-md-10">
                <input asp-for="Cost" class="form-control" />
                <span asp-validation-for="Cost"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Station" class="col-md-2"></label>
            <div class="col-md-10">
                <input asp-for="Station" class="form-control" />
                <span asp-validation-for="Station"></span>
            </div>
        </div>
    </fieldset>
    <button type="submit">Save</button>
</form>


<a href="/mileage/callapi">Call API</a>
<h2>API Result</h2>
<pre>@ViewBag.Json</pre>

